<div class="container">
  <h1>Your coaches answer</h1>

  <h3> You asked:</h3>
  <p><%= @query %></p>

  <h3> Coach answer:</h3>
  <p><%= @coach_answer %></p>


  <%= link_to "Ask a new question", ask_path %>
</div>
