<div class="container">
  <h1>Ask your coach a question</h1>
  <p></p>

  <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="query" placeholder="ask a question?">
    <input type="submit" value="Go on!" class="btn btn-danger">
  </form>
</div>
